@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #63ad4a;
  font-family: 'League Spartan', sans-serif;
  line-height: 1.5rem;
}

.top {
  width: 100%;
  height: 100vh;
  background-image: url("assets/background-sky.jpeg");
  background-size: cover;
  overflow: hidden;
  position: relative;

  display: flex;
}

.top div:nth-of-type(1) {
  background-image: url("assets/cloud-02.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  height: 50%;

  position: absolute;
  right: -25%;
}

.top div:nth-of-type(2) {
  background-image: url("assets/cloud-04.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  height: 50%;

  position: absolute;
  top: 20%;
  left: 0;
}

.top div:nth-of-type(3) {
  background-image: url("assets/cloud-05.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  height: 50%;

  position: absolute;
  top: 40%;
  right: -25%;
}

.top div:nth-of-type(4) {
  background-image: url("assets/bird-01.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  height: 50%;

  position: absolute;
  top: 20%;
  right: 10%;
}

.top div:nth-of-type(5) {
  background-image: url("assets/header.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: max(20%, 200px);
  height: max(20%, 200px);

  margin: 0 auto;
  align-self: center;
  z-index: 2;
}

.top div:nth-of-type(6) {
  background-image: url("assets/line-cloud2.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;

  position: absolute;
  bottom: -15%;
}

.middle {
  width: 100%;
  height: 100vh;
  background-image: url("assets/menu title.png");
  background-position: 25%;
  background-size: cover;
  overflow: hidden;

  position: relative;
  display: flex;
}

.middle-section img:nth-of-type(1) {
  width: 100%;
  height: 30%;
  object-fit: cover;

  position: absolute;
  top: 0;
  transform: rotate(180deg);
}

.middle-section img:nth-of-type(2) {
  width: max(30%, 200px);
  height: max(30%, 200px);
  object-fit: contain;

  margin: 0 auto;
  align-self: center;

  cursor: pointer;
  transform: scale(.9, .9);
  opacity: .8;

  transition: transform 200ms ease,
  opacity 200ms ease;
}

.middle-section img:nth-of-type(2):hover {
  transform: scale(1, 1);
  opacity: 1;
}

.bottom-section {
    background-image: url('assets/underground.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.bottom-section h2 {
  color: white;
  text-shadow: black 2px 2px;
  margin-top: 5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: min(80%, 50em);
    margin: 0 auto;
}

.card {
  position: relative;
  border-radius: 10px;
  flex-basis: 33%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.7s;
  z-index: 1;
  border-radius: 25px 25px 25px 25px;
}

.card:hover .icon {
  border-radius: 25px 25px 0 0;
}

.card:nth-child(1) .icon {
  background-image: url('assets/keith.png');
  background-position: 50% 25%;
  background-size: cover;
}

.card:nth-child(2) .icon {
  background-image: url('assets/andre.jpg');
  background-position: 50% 25%;
  background-size: cover;
}

.card:nth-child(3) .icon {
  background-image: url('assets/noemi.jpg');
  background-position: 50% 25%;
  background-size: cover;
}

.card:nth-child(4) .icon {
  background-image: url('assets/ralph.jpeg');
  background-position: 50% 25%;
  background-size: cover;
}

.card:nth-child(5) .icon {
  background-image: url('assets/raul.png');
  background-position: 50% 25%;
  background-size: cover;
}


.card .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

.card .face {
  width: 250px;
  height: 150px;
  transition: 0.5s;
}

.card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
  border-radius: 25px 25px 25px 25px;
}

.card:hover .face.face1{
  transform: translateY(0px);
  
  background: #fff;
  border-radius: 25px 25px 0 0;
}

.card:hover .face.face1{
  transform: translateY(0px);
  
  background: #fff;
  border-radius: 25px 25px 0 0;
}

.card .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
}

.card:hover .face.face1 .content {
  opacity: 1;
}

.card .face.face1 .content i{
  max-width: 100px;
}

.card .face.face2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,0.8);
  transform: translateY(-50px);
  border-radius: 25px 25px 25px 25px;
}

.card:nth-child(1) .face.face2 {
  background: rgb(222, 91, 91);
}

.card:nth-child(2) .face.face2 {
  background: rgb(91, 172, 222);
}

.card:nth-child(3) .face.face2 {
  background: #4aada9;
}

.card:nth-child(4) .face.face2 {
  background: #9bad4a;
}

.card:nth-child(5) .face.face2 {
  background: #ad4aa6;
}



.card:hover .face.face2{
  transform: translateY(0);
  border-radius: 0 0 25px 25px;
}

.card .face.face2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  text-shadow: #000 1px 1px;
  font-size: .85rem;
}

.card .face.face2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
} 

.card a {
  text-decoration: none;
  color: #fff;
  text-shadow: #000 1px 1px;
}